@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-ease: cubic-bezier(0.9, 0.1, 0.1, 0.9);
  --global-transition: 350ms var(--global-ease);
  --text-large-heading: 3.6vw;
  --text-large-heading-sup: 2vw;
}

@media (max-width: 1400px) and (min-width: 1080px) {
  :root {
    --text-large-heading: 3.5vw;
  }
}

@media (max-width: 1080px) and (min-width: 960px) {
  :root {
    --text-large-heading: 3.5vw;
  }
}

@media (max-width: 960px) {
  :root {
    --text-large-heading: 10vw;
    --text-large-heading-sup: 5vw;
  }
}

html,
body {
  min-height: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.min-h-screen {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html[data-theme='dark'] {
  background-color: #000;
  color-scheme: dark;
}

html[data-theme='light'] {
  background-color: #F8F8F8;
  color-scheme: light;
}