@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-ease: cubic-bezier(0.9, 0.1, 0.1, 0.9);
  --global-transition: 350ms var(--global-ease);
  --text-large-heading: 3.6vw;
  --text-large-heading-sup: 2vw;
}

@media (max-width: 1400px) and (min-width: 1080px) {
  :root {
    --text-large-heading: 3.5vw;
  }
}

@media (max-width: 1080px) and (min-width: 960px) {
  :root {
    --text-large-heading: 3.5vw;
  }
}

@media (max-width: 960px) {
  :root {
    --text-large-heading: 10vw;
    --text-large-heading-sup: 5vw;
  }
}

html,
body {
  min-height: 100%;
  height: auto;
}

* {
  font-kerning: normal;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html[data-theme='dark'] {
  background-color: #000;
  transition: background-color 500ms ease;
  color-scheme: dark;
}

html[data-theme='light'] {
  background-color: #fff;
  transition: background-color 500ms ease;
  color-scheme: light;
}

.site-grid {
  @apply px-20 py-20 md:px-0 md:py-32 flex flex-col md:grid md:grid-cols-9;
}

/* remove outline on all focused elements that support focus-visible */

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 1px dotted rgba(0, 0, 0, 0.75);
  outline-offset: 1px;
  outline-width: 1px;
}

.am-checkbox:has(input:focus-visible) {
  outline: 1px dotted rgba(0, 0, 0, 0.75);
  outline-offset: 1px;
  outline-width: 1px;
}